/target/
/logs/
/.settings/
/.sonar/
/node/
/node_modules/
/.classpath
/.hgignore
/.project
src/main/webapp/js/min/script.js
src/main/webapp/js/min/script.min.js
src/main/webapp/js/min/script.clean.js

.classpath
.project
.settings/
data/
logs/
node/
node_modules/
target/
