src/main/webapp/js/min/
src/main/webapp/css/min/
src/main/webapp/angularDocs/
src/main/webapp/bower_components/
src/main/webapp/documentation/
src/main/webapp/e2etestresults/

.classpath
.project
.settings/
.sonar/
.checkstyle
data/
logs/
node/
node_modules/
target/
